<ul>
  <li *ngFor="let item of tasks" [myTask]="item">
      {{
        (item.name | lowercase) + ' - ' +
        (item.value | formatCurrency:'en-US') + ' - ' +
        (item.date_launch | formatDate:'en-US')
      }}
  </li>
<!-- <li [id]="'list-' + item.value"
    [style.color]="item.value > 5 ? 'green':'red'"
    *ngFor="let item of tasks" [innerHtml]="item.name  + ' - ' + item.value">
</li> -->
<!-- <li [id]="'list-' + item.value"
    [ngClass]="{'item-green':item.value > 5,'item-red':item.value < 5}"
    *ngFor="let item of tasks" [innerHtml]="item.name | uppercase  + ' - ' + item.value">
</li> -->
</ul>

<p myTask>
</p>
